@charset "utf-8";
/* CSS Document */

html {
	font-family: helvetica, arial, sans-serif;
}
body { 
	margin: 0;
	position: relative;
	height: 100vh;
}

#welcome {
	background-color: rgb(60,120,170);
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 100vh;
}

#playGame {
	margin-bottom: 4em;
}

#playGame input[type=radio] {
	display: none;
}

#playGame label {
	padding: 1.25em;
	border: 2px solid #fff;
	font-weight: 700;
	box-sizing: border-box;
	margin: 3em 0.5em 4em;
	display: inline-block;
}

#playGame input[type=radio]:checked + label {
	background-color: #fff;
	color: rgb(60,120,170);
}

#playGame button[type=submit] {
	display: block;
	margin: 0 auto;
	padding: 1.2em 2.5em;
	background-color: #fff; 
	font-weight: 700;
	color: rgb(60,120,170);
	border: none;
}

#board {
	display: none;
	width: 100%;
	padding: 1.5vw;
	box-sizing: border-box;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: flex-start;
	background-color: #ddd;
	perspective: 800px;
}

#board section {
	width: 22vw;
	height: 22vw;
	margin: 1vw 0;
	background-color: #F058E6;
	position: relative;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	z-index: 3;
	transition: 0.3s;
}

.front, .back {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.front {
	background-color: rgb(60,120,170);
	z-index: 2;
}

.back {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	z-index: 1;
	transform: rotateY(180deg);
}

#board .flipped {
	transform: rotateY(180deg);	
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

#message {
	z-index: -1;
	position: absolute;
	width: 100%;
	left: 0%;
	top: 10%;
	padding: 2.25em;
	opacity: 0;
	box-sizing: border-box;
	background-color: #ddd;
	transition: all 0.4s;
}
#message.show {
	z-index: 4;
	width: 80%;
	left: 10%;
	top: 15%;
	padding: 1,25em;
	opacity: 1;
}

.reward {
	box-shadow: 0 0 1px 2px rgba(15, 160, 0, 0.7);
}



